<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>justify-content flex between </title>
</head>
<body>

    <nav>
 <ul>
   <li><a href="home"></a>home</li>>
   <li><a href="blog"></a>blog</li>>
   <li><a href="aboutus"></a>aboutus</li>

</ul>
    </nav>
<div class="rewan">
    <article></article>
    <aside></aside>
</div>
<footer><div class>

</div>
</footer>
</body>
</html>
